doctype html
html(lang="zh")
    head
        title #{staticConv('M系镜像 - ') + userName}
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href=themeCss)
    body
        div.container
            h1.mt-5.mb-4 #{staticConv('作者：') + userName}
            p.lead #{userName + staticConv(' 注册于')} #{registeredAt}，#{staticConv('总共发表了')} #{threadCount} #{staticConv('个主题')}，#{postCount} #{staticConv('篇文章。')}
            a.btn.btn-primary(href='/searchthread?u=' + encodeURIComponent(userName)) #{staticConv('搜索其所有主题')}
            | 
            a.btn.btn-primary(href='/searchpost?u=' + encodeURIComponent(userName)) #{staticConv('搜索其所有文章')}
            | 
            a.btn.btn-secondary(href='http://forum.mazochina.com/ucp.php?i=pm&mode=compose&u=' + userId) #{staticConv('发送私信')}
            if blacklisted
                div.alert.alert-primary.my-5 #{staticConv('该用户已被镜像管理员标注为广告发布者。其发布的主题将全部被视为疑似广告帖。')}
            else if isAdmin
                form.form-inline(action='/author/' + userId + '/blacklist', method='post', style={display: 'inline'})
                    | 
                    button.btn.btn-secondary(type="submit") #{staticConv('标注为广告')}
            if threads.length
                h3.mt-5 #{userName + staticConv(' 的最近十个主题')}
                table.table.my-3
                    thead
                        th #{staticConv('主题')}
                        th #{staticConv('回复')}
                        th.d-none.d-sm-table-cell #{staticConv('最后发表')}
                    tbody
                        each thread in threads
                            tr
                                td.align-middle
                                    a(href=thread.firstLink) #{contentConv(thread.title)}
                                    br
                                    small #{thread.firstUser} @ #{thread.firstTime}
                                td.align-middle #{thread.count - 1}
                                td.d-none.d-sm-table-cell.align-middle
                                    a(href=thread.lastLink)
                                        | #{thread.lastUser}
                                        br
                                        | #{thread.lastTime}
