doctype html
html(lang="zh")
    head
        title #{staticConv('M系镜像')} - #{forceConv(title)}
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href=themeCss)
    body
        div.container
            nav.mt-5.mb-4
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/') #{staticConv('首页')}
                    li.breadcrumb-item.active
                        | #{forceConv(title)}
            h1.mb-5 #{forceConv(title)}
            if childForums.length
                each forum in childForums
                    div.card.my-4
                        div.card-body
                            h5.card-title
                                | #{staticConv('子版面')}：
                                a(href=forum.link) #{forceConv(forum.name)}
                            p.card-text #{forum.count}#{staticConv('个主题')}
                                span.text-muted.ml-3 #{staticConv('最新更新：')}#{forum.lastPost}
            table.table.mt-5
                thead
                    th #{staticConv('主题')}
                    th #{staticConv('回复')}
                    th.d-none.d-sm-table-cell #{staticConv('最后发表')}
                tbody
                    each thread in threads
                        tr(style=thread.isSpam ? 'opacity: 0.5' : '')
                            td.align-middle
                                a(href=thread.firstLink) #{contentConv(thread.title)}
                                small.d-none.d-sm-block.mt-1 #{thread.firstUser} @ #{thread.firstTime}
                                small.d-block.d-sm-none.mt-2
                                    | #{staticConv('最后发表')}：
                                    a(href=thread.lastLink)
                                        | #{thread.lastUser} @ #{thread.lastTime}
                            td.align-middle #{thread.count - 1}
                            td.d-none.d-sm-table-cell.align-middle
                                a(href=thread.lastLink)
                                    | #{thread.lastUser}
                                    br
                                    | #{thread.lastTime}
            include pagination.pug
            div.form-group.form-check.text-center
                input#hide-spam.form-check-input(type='checkbox', checked=!includeSpam)
                label.form-check-label(for='hide-spam') #{staticConv('隐藏疑似广告帖')}
            div.card.my-4
                div.card-header #{staticConv('根据标题搜索')}
                div.card-body
                    form.form-inline.justify-content-center.flex-nowrap(method='get', action='/searchthread')
                        input(type='hidden', name='f', value=forumId)
                        div.input-group
                            input.form-control(name='s', placeholder=staticConv('关键词'))
                            div.input-group-append
                                button.btn.btn-primary #{staticConv('搜索本版')}
                        a.btn.btn-secondary.ml-3(href='/search/?f=' + forumId) #{staticConv('更多')}
            div.text-center.mb-5
                a.btn.btn-primary(href=postLink) #{staticConv('发表主题')}
script(type='text/javascript').
    document.getElementById('hide-spam').addEventListener('change', function () {
        window.location.replace(this.checked ? location.pathname : (location.pathname + '?all=1'));
    });
