doctype html
html(lang="zh")
    head
        title #{staticConv('M系镜像 - 首页')}
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href=themeCss)
    body
        div.container
            div.jumbotron
                h1 #{staticConv('M系镜像')}
                hr.my-4
                p
                    | #{staticConv('这是一个')}
                    a(href='http://forum.mazochina.com/') #{staticConv('M系资源聚合')}
                    | #{staticConv('的镜像')}
            each forum in forums
                if forum.hr
                    hr
                div.card.my-4
                    div.card-body
                        h5.card-title
                            a(href=forum.link) #{forceConv(forum.name)}
                        p.card-text #{forum.count} #{staticConv('个主题')}
                            span.text-muted.ml-3 最新更新：#{forum.lastPost}
                            if forum.childForums.length
                                br
                                | #{staticConv('子版面')}：
                                each child in forum.childForums
                                    a(href=child.link) #{forceConv(child.name)}
            div.card.my-4
                div.card-header #{staticConv('根据标题搜索')}
                div.card-body
                    form.form-inline.justify-content-center.flex-nowrap(method='get', action='/searchthread')
                        div.input-group
                            input.form-control(name='s', placeholder=staticConv('关键词'))
                            div.input-group-append
                                button.btn.btn-primary #{staticConv('搜索全站')}
                        a.btn.btn-secondary.ml-3(href='/search') #{staticConv('更多')}
            include options.pug
            p.text-center.mb-5 
                a(href='/thread/29929') #{staticConv('关于此镜像')}
