doctype html
html(lang="zh")
    head
        title #{staticConv('M系镜像')} - #{staticConv('搜索')}
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href=themeCss)
    body
        div.container
            nav.mt-5.mb-4
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/') #{staticConv('首页')}
                    if forum
                        li.breadcrumb-item
                            a(href=forum.link) #{forceConv(forum.name)}
                    li.breadcrumb-item.active
                        | #{staticConv('搜索')}
            h1.mb-5 #{staticConv('搜索：')}
                if username
                    | #{staticConv('用户') + ' [' + username + '] ' + staticConv('发表的主题')}
                else
                    each keyword in keywords
                        span [#{keyword}]
            if threads.length
                table.table.my-5
                    thead
                        th #{staticConv('主题')}
                        th #{staticConv('回复')}
                        th.d-none.d-sm-table-cell #{staticConv('最后发表')}
                    tbody
                        each thread in threads
                            tr
                                td.align-middle
                                    a(href=thread.firstLink) !{highlight(thread.title, normalizedKeywords)}
                                    br
                                    small #{thread.firstUser} @ #{thread.firstTime}
                                td.align-middle #{thread.count - 1}
                                td.d-none.d-sm-table-cell.align-middle
                                    a(href=thread.lastLink)
                                        | #{thread.lastUser}
                                        br
                                        | #{thread.lastTime}
            else
                div.alert.alert-warning.my-5 #{staticConv('没有搜索到任何相关结果。')}
            if !maxPage
                if threads.length >= 200
                    div.alert.alert-primary.my-5 #{staticConv('搜索功能目前只显示前 200 个结果。若难以找到你需要的结果，建议使用更具体的关键字。')}
            else
                include pagination.pug